@model _21_11_2021.Areas.admin.Models.DanhGia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DanhGia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoSao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoSao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChiTiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChiTiet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDonHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDonHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaSanPham">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
